.logo {
    width: 120.28px;
}

.login-btn, .signOut-btn, .signUp-btn {
    background-color: transparent;
    border: 2px solid #F9A51A;
    font-weight: 600;
    border-radius: .3rem;
    color: #F9A51A;
    transition: .2s ease;
    margin: .5rem;
    padding: .5rem;
}

/* .login-btn, .signUp-btn {
    
} */

.login-btn:hover, login-btn:focus, .signOut-btn:hover, .signOut-btn:focus, .signUp-btn:focus {
    background-color: #F9A51A;
    color: white;
}

.links {
    color: white;
    margin: 0 1rem;
    padding: 6px;
    display: block;
    border-bottom: 3px solid transparent;
    transition: 0.2s ease;
}

.links:hover {
    text-decoration: none;
    color: white;
    border-bottom: 3px solid #F9A51A;
}

.nav-container {
    padding: 1rem 5rem;
}

.search-input, .search-input:focus {
    background-color: lightGray;
    height: 30px;
    width: 300px;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 0 5rem 5rem 0;
    outline: none;
    display: inline-block;
}